@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all .3s ease-in-out;
}

body {
  font-family: Poppins;
  background-color: #f3f4f7;
}

.navbar{
  background-color: #ffffff;
  position: sticky;
  top: 0;
  z-index: 999;
}

.container{
  padding: 15px 3%;
}

.btn{
  border: 1px solid #dcdfe1;
  outline: none;
  background-color: #ffffff;
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
}

.tabs{
  display: flex;
  gap: 32px;
  margin-top: 10px;
}

.tab{
  flex-grow: 1;
  width: 20%;
}
.col-head{
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  font-size: 12px;
  padding: 0 8px;
}

.col-head .head-left, .head-right{
  display: flex;
  gap: 10px;
  align-items: center;
}

.tab-icon{
  width: 16px;
}

.tab-numbers{
  color: #00000070;
  font-size: 12px;
}

.card{
  background-color: #ffffff;
  border-radius: 8px;
  border: 1px solid #e2e4e7;
  padding: 12px;
  font-size: 12px;
  margin-bottom: 8px;
}

.card-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-user-img{
  font-size: 10px;
  background-color: #bf6c26;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  position: relative;
  z-index: 0;
}

.status-dot{
  position: absolute;
  right: -3px;
  bottom: -3px;
  border: 1.5px solid #ffffff;
  height: 10px;
  width: 10px;
  z-index: 99;
  background-color: #dee0e3;
  border-radius: 50%;
}
.status-dot.available{
  position: absolute;
  right: -3px;
  bottom: -3px;
  border: 1.5px solid #ffffff;
  height: 10px;
  width: 10px;
  z-index: 99;
  background-color: #008000;
  border-radius: 50%;
}

.card-title{
  margin-right: 30px;
 
}

.card-bottom{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 12px;

}

.card-priority, .card-tag{
  padding: 5px;
  background-color: #f4f4f4;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 5px
}

.card-tag span{
  display: flex;
  align-items: center;
  gap: 5px
}
.card-tag span::before{
  content: "";
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  background-color:#20202050 ;
}

.popup{
  position: fixed;
  background-color: #ffffff;
  padding: 10px 20px;
  border: 1px solid #e2e4e7;
  border-radius: 8px;
  left: 3%;
  top: 6%;
  z-index: 999;
  box-shadow: 0 10px 30px #00000020;
}

.groupby, .orderby{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-size: 12px;
  margin: 10px 0;
}

.select-dropdown {
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f4f4f4;
  border-color: #00000030;
}

.select-dropdown:focus {
  border-color: #00000030; 
  outline: none; 
}


.select-dropdown option {
  padding: 10px; 
}


/* For Mobile/Tablet */

@media(max-width: 1279px){
  .btn{
    padding: 12px 24px;
  }
  .tabs{
    flex-direction: column;
  }
  .tab-icon{
    width: 20px;
  }
  .tab{
    width: 100%;
  }
  .popup{
    top: 8%;
    padding: 20px;
    font-size: 14px;
  }
  .select-dropdown {
    padding: 8px 32px 8px 10px; 
  }
  
}